body {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 90%;
  background-color: rgb(230, 210, 221);
}

.content {
  text-align: center;
  /* margin-bottom: 30px; */
}

.header {
  font-size: 30px;
}

.container {
  /* margin: 2vw; */
  /* padding: 2vw; */
  /* background-color: antiquewhite; */
}

.img-body img {
  display: flex;
  margin: 0 auto;
  height: 40vh;
  height: 100%;

  margin-bottom: 5vw;
}

h2 {
  margin-top: 4vw;
}

.slick-slide.slick-center img {
  transform: scale(1.15);
  transform-origin: top center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  transition: transform box-shadow 0.3s ease-in-out;
}

.slick-slide:not(.slick-center) {
  opacity: 30%;
  margin-top: 2vw;
}